
.__full-height-perc {
  min-height: 531px;
  height:auto;
}

#container {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #e4e3e4;
  position:relative;
  height: auto;

  
}
#cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12em;
  height: auto;
  float:left;
   position:relative;
}
#cssmenu li {
  font: 100% "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 ;
  color: #fff;
  padding-bottom: 8px;
}



#divform{
    top: 50px;
    height:auto;

    margin: auto;
    margin-top: 70px;
    float:right;
   
   

}

#table{
    
  
    height:auto;
    width:800px;
    float: left;

  
}


#boton1 {

width:70px; 
height:30px;

}


#footer {
     height: 150px;
    position: absolute; left: 0; bottom: 0; width: 100%;

  }


 
}